[user]
	name = Ismael Fernandez
	email = 69177486+ifcodesdotnet@users.noreply.github.com
[core]
	editor = code --wait
[push]
	# automatically sets up a remote tracking branch for new local branches when you first push
	#  to their remote repository.
	autoSetupRemote = true
[alias]
	# general aliases
	ls = log --oneline --abbrev-commit
	st = status --short --branch
	p = push

	goto = checkout
	g = goto

	rollback = revert
	r = rollback

	# using git add --all instead of git add . because git add --all stages
	#  all changes within the repository, including deletions, while git add .
	#  only stages changes within the current directory.
	checkin = "!f() { git add --all && git commit; }; f"
	ci = checkin

	# git clean --force will delete all untracked files and directories
	#  from the repository, and git reset --hard HEAD will reset the repository
	#  state to match that of the most recent commit on the current branch
	#  (the HEAD pointer).
	undo ="!f() { git clean --force && git reset --hard HEAD; }; f"
	u =  undo

	# Branch Aliases

	# aliases for listing branches
	Get-Branch = branch --verbose
	gb = Get-Branch
	Get-BranchLocal = branch --verbose
	gbl = Get-BranchLocal
	Get-BranchRemote = branch --remotes --verbose
	gbr = Get-BranchRemote
	Get-BranchAll = branch --all --verbose
	gba = Get-BranchAll

	# aliases for creating branches
	New-Branch = "!f() { git branch \"$1\" && git checkout \"$1\"; }; f"
	nb = New-Branch
	New-BranchLocal = "!f() { git branch \"$1\" && git checkout \"$1\"; }; f"
	nbl = New-BranchLocal
	New-BranchRemote = "!f() { git branch \"$1\" && git checkout \"$1\" && git push --set-upstream origin \"$1\"; }; f"
	nbr = New-BranchRemote

	# aliases for removing branches
	Remove-Branch = branch --delete --force
	rb = Remove-Branch
	Remove-BranchLocal = branch --delete --force
	rbl = Remove-BranchLocal
	Remove-BranchRemote = "!f() { git push origin --delete \"$1\"; }; f"
	rbr = Remove-BranchRemote

	# Head Aliases

	# list modifications in the current HEAD commit
	Get-Head = show --name-status --oneline HEAD
	gh = Get-Head

	# update HEAD pointer with current modifications without updating title and description
	Update-HeadCommit = "!f() { git add --all && git commit --amend --no-edit; }; f"
	uhc = Update-HeadCommit

	# update HEAD pointer title and description
	Update-HeadMessage = "!f() { git commit --amend; }; f"
	uhm = Update-HeadMessage

	# list aliases in terminal so I don't have to open this file
	Get-Aliases = "!f() { git config --get-regexp '^alias\\.' | sed 's/^alias\\.//' | awk '{printf \"%s = %s\\n\", $1, substr($0, index($0,$2))}'; }; f"
	ga = Get-Aliases

	# Get Latest Changes Aliases

	# get the latest changes and update the current branch
	Get-LastestOverwrite = pull
	glo = Get-LastestOverwrite

	# get the latest changes without updating the current branch
	Get-LatestPreserve = fetch
	glp = Get-LatestPreserve

	# Searching a Repository Aliases

	# show commits that contain a certain word
	Select-String = "!f() { git log --oneline --grep=\"$1\" --regexp-ignore-case; }; f"
	ss = Select-String

	# shows commits by a certain author
	Select-StringAuthor = "!f() { git log --oneline --author \"$1\"; }; f"
	ssa = Select-StringAuthor

	# shows commits that changed a file
	Select-StringFile = "!f() { git log --oneline -- \"*$1*\"; }; f"
	ssf = Select-StringFile

	# Merging Changes Aliases

	Copy-Commit = cherry-pick